*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
background-color: rgb(240, 242, 244);
}
#navbar-top{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 70, 190);
    border-bottom: 5px solid white;
}
#navbar-top img{
    display: block;
    margin: auto;
    width: 100px;
    cursor: pointer;
}
#navbar-top a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.container{
    margin: 50px 0;
}
h2{
    padding: 30px 0 20px 0;
    color: black;
    font-size: 20px;
}
h5{
    color: black;
}
#box{
    margin: auto;
    text-align: center;
    width: 22vw;
    padding: 0 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    color: rgb(71, 71, 71);
    background-color: white;
}
#box>div{
    text-align: left;
}
label{
    width: 90%;
    display: block;
    padding: 10px;
    text-align: left;
    margin-left: -10px;
}
input{
    width: 91%;
    display: block;
    padding: 13px;
    text-align: left;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(133, 131, 131);
}
#submit{
    width: 100%;
    background-color: rgb(0, 70, 190);
    color: white;
    border: none;
    border-radius: 5px;
    margin: 25px 0;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
#box>form>p{
    font-size: 12px;
    text-align: left;
    padding: 10px 0;
}
h5{
    text-align: left;
    padding:10px 0 40px 0;
}
span{
    color: rgb(23, 90, 167);
}
span>a{
    text-decoration: none;
}
form span>a{
    margin-left: 60px;
    color: rgb(23, 90, 167);
}
span:hover{
    text-decoration: underline;
    cursor: pointer;
}
.container>p{
    text-align: center;
    margin: 10px 0;
}
h5{
    display: flex;
}
h5>span{
    margin-left: 5px;
}
#box>p{
    font-size: 10px;
    text-align: left;
    margin-top: -20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(136, 136, 136);
}
button{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    border: 1px solid rgb(155, 154, 154);
    border-radius: 5px;
    margin: -10px 0 40px 0;
    font-size: 14px;
    font-weight: bold;
    height: 46px;
    cursor: pointer;
}
button span{
    padding: 0 15px;
}
#footer{
    width: 100vw;
    background-color: white;
    border-top: 1px solid rgb(187, 186, 186);
}
.footer-box{
    padding: 10px;
    width: 80%;
    margin: auto;
    color: rgb(66, 66, 66);
    font-size: 13px;
}
.footer-box>p{
    margin: 10px 0;
}