*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
#navbar-top{
    width: 88vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 70, 190);
    border-bottom: 1px solid white;
    padding: 5px 8vw 5px 4vw;
    overflow: hidden;
    position: fixed;    
    top: 0;
}
#navbar-top-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
#navbar-top-left>div{
    margin-right: 30px;
}
#navbar-logo{
    width: 90px;
}
#logo{
    cursor: pointer;
    width: 90px;
}
.menu{
    margin-top: 4px;
    color: white;
    font-size: 18px;
}
.navbar-button{
    display: flex;
    border: none;
    cursor: pointer;
    background-color: rgb(0, 70, 190);
    font-weight: bold;
}
#navbar-search{
    display: flex;
}
#navbar-input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 35vw; 
    font-size: 15px;
    color: rgb(121, 121, 121);
}
.navbar-search-button{
    position:absolute;
    margin: 9px 0 0 34vw;
    background-color: white;
    border: none;
    cursor: pointer;
}
#navbar-top-right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-right: 40px;
}
#account>button{
    background-color: rgb(0, 70, 190);
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#account-button-name{
    color: white;
    font-size: 20px;
    margin: 0 5px;
}
#cart-button{
    font-size: 22px;
    margin-left: 20px;
}
#navbar-cart-name{
    position: absolute;
    margin-top: -1px;
    margin-left: 5px;
    color: white;
}
#navbar-cart-name:hover,#account:hover{
    color: white;
    text-decoration: underline;
}
.container{
    width: 90%;
    margin: auto;
    display: flex;    
}
.left-cont{
    border: 1px solid rgb(134, 134, 134);
    width: 18%;
    position: fixed;
    top: 0;
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 0 20px;
    z-index: -1;
    border-radius: 5px;
}
.left-cont h4{
    margin-bottom: 10px;
    margin-top: 15px;
    color: rgb(29, 37, 44);
}
.left-cont h6{
    color: rgb(3, 82, 210);
    margin-bottom: 15px;

}
.left-cont ul, .left-cont li{
    color: rgb(3, 82, 210);
    margin: 5px 0;
    font-size: 13px;
}
li{
    padding-left: 12px;
}

.right-cont{
    width: 75%;
    margin-left: 25%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
}
  
.right-cont{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.right-cont>div{
    padding: 10px;
    height: 420px;    
}
.right-cont>div>div:nth-child(1){
    height: 18vw;
}
.right-cont>div>div:nth-child(2){
    height: 90px;
}

.right-cont img{
    width: 250px;
    display: block;
    margin: auto;
}
.right-cont img:hover{
    padding: 5px;
    cursor: pointer;
}
.right-cont p{
    text-align: left;
    color: rgb(3, 82, 210);
    
}
.right-cont p:hover{
    text-decoration: underline;
    cursor: pointer;
    padding: 5px 0;

}
.right-cont h4{
    margin: 5px 0;
}
.right-cont button{
    padding: 8px 20px;
    background-color: rgb(255, 242, 0);
    border: none;
    border-radius: 5px;
    margin: 5px 0;
}
.right-cont button:hover{
    background-color: rgb(236, 222, 20);
}
#selectfilter{
    padding: 10px;
    display: flex;
    margin: auto;
    margin-top: 83px;
    justify-content: right;
    background-color: white;
    width: 70vw;
    margin-left: 28vw;
}
#sort{
    padding: 5px 20px;
    font-size: 16px;
    margin-right: 10vw;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
}


























#footer{
    background-color: rgb(240, 242, 244);
}
#footer-top{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    text-align: center;
    width: 80%;
    margin: auto;
}
#footer-top>div{
    padding: 50px 0;
    cursor: pointer;
    color: rgb(3, 82, 210);
}
#footer-top>div>svg{
    width: 50px;
}
#footer-top>div>p{
    font-weight: bold;
    font-size: 13px;
    margin-top: 10px;
}
#footer-top>div:hover,#footer-bottom li:hover{
    text-decoration: underline;
    cursor: pointer;
}
#footer-bottom{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 10px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    border-top: 1px solid rgb(196, 196, 196);
    border-bottom: 1px solid rgb(196, 196, 196);
    padding-top: 10px;
    padding-bottom: 20px;
    justify-content: space-between;
}
#footer-bottom h3{
    color: rgb(29, 37, 44);
    font-size: 16px;
    margin-top: 15px;
}
#footer-bottom li{
    color: rgb(3, 82, 210);
    margin-top: 10px;
    font-size: 14px;
}
#footer-details{
    background-color: white;
    width: 25vw;
    padding: 20px;
    border-radius: 5px;
}
#footer-details>div{
    border-bottom: 1px solid rgb(196, 196, 196);
}
#footer-details>div>a{
    text-decoration: none;
    color: rgb(3, 82, 210);
    padding-top: 10px;
}
#footer-details>div>a:hover{
    text-decoration: underline;
}
#footer-details>div:nth-child(1){
    padding-bottom: 20px;
}
#footer-input{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
#footer-details h3{
    padding-bottom: 10px;
}
#footer-input>input{
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid rgb(146, 146, 146);
}
#footer-input>button{
    padding: 8px 15px;
    color: white;
    background-color: rgb(0, 30, 115);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin: auto;
    margin-top: 15px;
    cursor: pointer;
}
#social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
#social>div{
    width: 50px;
}
#footer-details>div:nth-child(5){
    padding-top: 10px;
    padding-bottom: 10px;
}
#footer>div:nth-child(3){
    width: 90%;
    margin: auto;
}
#footer>div:nth-child(3)>a{
    text-decoration: none;
    font-size: 11px;
    margin-right: 5px;
    color: rgb(3, 82, 210);;
}
#footer>div:nth-child(3)>a:hover{
    text-decoration: underline;
}
#footer>div:nth-child(3)>p{
    color: rgb(73, 73, 73);
    font-size: 13px;
    margin: 20px 0 40px 0;
}