*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* navbar-css */

#navbar-top{
    width: 88vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 70, 190);
    border-bottom: 1px solid white;
    padding: 5px 8vw 5px 4vw;
    overflow: hidden;
    position: fixed;    
    top: 0;
}
#navbar-top-left{
    /* width: 55vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
#navbar-top-left>div{
    margin-right: 30px;
}
#navbar-logo{
    width: 90px;
}
#logo{
    cursor: pointer;
    width: 90px;
}
.menu{
    margin-top: 4px;
    color: white;
    font-size: 18px;
}
.navbar-button{
    display: flex;
    border: none;
    cursor: pointer;
    background-color: rgb(0, 70, 190);
    font-weight: bold;
}
#navbar-search{
    display: flex;
}
#navbar-input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 35vw; 
    font-size: 15px;
    color: rgb(121, 121, 121);
}
.navbar-search-button{
    position:absolute;
    margin: 9px 0 0 34vw;
    background-color: white;
    border: none;
    cursor: pointer;
}
#navbar-top-right{
    /* width: 16vw; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-right: 40px;
}
#account>button{
    background-color: rgb(0, 70, 190);
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#account-button-name{
    color: white;
    font-size: 20px;
    margin: 0 5px;
}
#cart-button{
    font-size: 22px;
    margin-left: 20px;
}
#navbar-cart-name{
    position: absolute;
    margin-top: -1px;
    margin-left: 5px;
    color: white;
}
#navbar-cart-name:hover,#account:hover{
    color: white;
    text-decoration: underline;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    margin-top: 110px;
    margin-bottom: 20px;
}

#left-cont{
    border: 1px solid rgb(124, 124, 124);
    width: 65vw;
    border-radius: 3px;
    /* height: 300px; */
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
}
#left-cont>div{
    display: flex;
}
#left-cont>div>div{
    /* border: 1px solid red; */
    width: 40%;
    margin: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0 2px 8px; */
    display: block;
    margin: auto;
    padding: 10px 0;
}
p{
    color:rgb(3, 82, 210);
    
}
h3{
    margin: 15px 0;
}
img{
    display: block;
    margin: auto;
    padding: 5px 0;
}
#left-cont span{
    margin: 0 5px;
}
#left-cont button{
    padding: 5px 10px;
    margin: 0 5px;
}




#right-cont{
    border: 1px solid rgb(124, 124, 124);
    width: 28vw;
    border-radius: 3px;
    position: fixed;
    margin-left: 68vw;
    height: 400px;
    
    z-index: -1;
}
#right-cont>div{
    padding: 10px;
}
#right-cont h2{
    padding: 10px 5px;
    color: rgb(77, 76, 76);
    border-bottom: 1px solid rgb(192, 189, 189);
}




























/* footer-css */
#footer{
    background-color: rgb(240, 242, 244);
}
#footer-top{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    text-align: center;
    width: 80%;
    margin: auto;
}
#footer-top>div{
    padding: 50px 0;
    cursor: pointer;
    color: rgb(3, 82, 210);
}
#footer-top>div>svg{
    width: 50px;
}
#footer-top>div>p{
    font-weight: bold;
    font-size: 13px;
    margin-top: 10px;
}
#footer-top>div:hover,#footer-bottom li:hover{
    text-decoration: underline;
    cursor: pointer;
}
#footer-bottom{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 10px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    border-top: 1px solid rgb(196, 196, 196);
    border-bottom: 1px solid rgb(196, 196, 196);
    padding-top: 10px;
    padding-bottom: 20px;
    justify-content: space-between;
}
#footer-bottom h3{
    color: rgb(29, 37, 44);
    font-size: 16px;
    margin-top: 15px;
}
#footer-bottom li{
    color: rgb(3, 82, 210);
    margin-top: 10px;
    font-size: 14px;
}
#footer-details{
    background-color: white;
    width: 23vw;
    padding: 20px;
    border-radius: 5px;
}
#footer-details>div{
    border-bottom: 1px solid rgb(196, 196, 196);
}
#footer-details>div>a{
    text-decoration: none;
    color: rgb(3, 82, 210);
    padding-top: 10px;
}
#footer-details>div>a:hover{
    text-decoration: underline;
}
#footer-details>div:nth-child(1){
    padding-bottom: 20px;
}
#footer-input{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
#footer-details h3{
    padding-bottom: 10px;
}
#footer-input>input{
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid rgb(146, 146, 146);
}
#footer-input>button{
    padding: 8px 15px;
    color: white;
    background-color: rgb(0, 30, 115);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin: auto;
    margin-top: 15px;
    cursor: pointer;
}
#social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
#social>div{
    width: 50px;
}
#footer-details>div:nth-child(5){
    padding-top: 10px;
    padding-bottom: 10px;
}
#footer>div:nth-child(3){
    width: 90%;
    margin: auto;
}
#footer>div:nth-child(3)>a{
    text-decoration: none;
    font-size: 11px;
    margin-right: 5px;
    color: rgb(3, 82, 210);
}
#footer>div:nth-child(3)>a:hover{
    text-decoration: underline;
}
#footer>div:nth-child(3)>p{
    color: rgb(73, 73, 73);
    font-size: 13px;
    padding: 20px 0 40px 0;
}
